.git
.gitignore
.env.example
.editorconfig
README.md
*.md
.DS_Store
node_modules
npm-debug.log
yarn-error.log
storage/logs/*
bootstrap/cache/*
vendor
.vscode
.idea
tests
phpunit.xml
coverage

.env.*.php
.github
docker-compose.yml
